* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  background: none;
  border: none;
  font-size: 20px;
}

.underline {
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.flex {
  display: flex;
}

.w100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.p1 {
  padding: 1rem;
}

.p-5 {
  padding: 0.5rem;
}

.pr-25 {
  padding-right: 0.25rem;
}

.b-2 {
  border-color: black;
  border-style: solid;
  border-width: 0.2em;
}

.inline {
  display: inline;
}

.block {
  display: flex;
}

.w-fit {
  width: fit-content;
}

.radio {
  border-width: 2px;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  padding: 0.3em;

  &:checked {
    background: black;
  }
}

.f2 {
  font-size: 2rem;
}

.f1-5 {
  font-size: 1.5rem;
}